<!DOCTYPE html>
<html lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{resume.basics.name}}</title>
    <meta name="description" content="I'm {{resume.basics.name}} | {{resume.basics.label}}">
    <meta name="author" content="{{resume.basics.name}}">
    <meta name="generator" content="https://www.npmjs.com/package/{{meta.packageName}}/v/{{meta.version}}" />

    <!-- CSS
  ================================================== -->
    <style>
        {{{css}}}


        #intro {
            background-image:  url({{{resume.meta.additionalSiteData.introBackground}}});
        }
    </style>

</head>

<body id="top">

<!-- intro section
================================================== -->
    <section id="intro">
        {{#resume.basics}}

        <div class="intro-overlay"></div>

        <div class="intro-content">
            <div class="row">

                <div class="col-twelve">

                    <h5>Hello there.</h5>
                    <h1>I'm {{name}}</h1>

                    <p class="intro-position">
                        <span>{{label}}</span>
                    </p>

                    <a class="button stroke smoothscroll " href="#about" title="">More About Me <i
                            class="fas fa-chevron-down"></i></a>

                </div>

            </div>
        </div> <!-- /intro-content -->

        <ul class="intro-social">
            {{#each profiles}}
            <li><a href="{{url}}" target="_blank" rel="noopener"><i class="fab fa-{{toLowerCase network}}"></i></a>
            </li>
            {{/each}}
        </ul> <!-- /intro-social -->
        {{/resume.basics}}

    </section> <!-- /intro -->



    <!-- about section
================================================== -->
    <section id="about" class="white-section">

        {{#resume.basics}}
        <div class="row section-intro">
            <div class="col-twelve">

                <h5>About</h5>
                <h1>Let me introduce myself.</h1>

                <div class="intro-info">

                    {{#if picture}}<img src="{{picture}}" alt="Profile Picture">{{/if}}

                    <p class="lead">{{#markdown}}{{summary}}{{/markdown}}</p>
                </div>

            </div>
        </div> <!-- /section-intro -->
        {{/resume.basics}}

        <div class="row about-content">

            <div class="col-six tab-full">

                <h3>Profile</h3>
                <!--<p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>-->

                {{#resume.basics}}
                <ul class="info-list">
                    <li>
                        <strong>Fullname:</strong>
                        <span>{{name}}</span>
                    </li>
                    {{#if label}}
                    <li>
                        <strong>Job:</strong>
                        <span>{{label}}</span>
                    </li>
                    {{/if}}
                    {{#if url}}
                    <li>
                        <strong>Website:</strong>
                        <a href="{{url}}" target="_blank" rel="noopener"><span>{{displayUrl url}}</span></a>
                    </li>
                    {{/if}}
                    {{#if email}}
                    <li>
                        <strong>Email:</strong>
                        <span>{{email}}</span>
                    </li>
                    {{/if}}
                    {{#if phone}}
                    <li>
                        <strong>Phone:</strong>
                        <span>{{phone}}</span>
                    </li>
                    {{/if}}

                </ul> <!-- /info-list -->
                {{/resume.basics}}
            </div>

            <div class="col-six tab-full">
                {{#if resume.skills}}

                <h3>Skills</h3>
                <!--<p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>-->

                <ul class="skill-bars">
                    {{#each resume.skills}}
                    <li>
                        <div class="progress percent{{skillLevel level}}"><span>{{skillLevel level}}%</span></div>
                        <strong>{{name}}</strong>
                    </li>
                    {{/each}}

                </ul> <!-- /skill-bars -->
                {{/if}}
            </div>
        </div>

        <div class="row button-section">
            <div class="col-twelve">
                <a href="#contact" title="Contact Me" class="button stroke smoothscroll">Contact Me</a>
                <a href="./resume.pdf" title="Download CV" class="button button-primary">Download CV</a>
            </div>
        </div>

    </section> <!-- /process-->


    <!-- resume Section
================================================== -->
    <section id="resume" class="grey-section">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Resume</h5>
                <h1>More of my credentials.</h1>

                <!--<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>-->

            </div>
        </div> <!-- /section-intro-->

        {{#if resume.work}}
        <div class="row resume-timeline">


            <div class="col-twelve resume-header">

                <h2>Work Experience</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    {{#each resume.work}}
                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fas fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>{{position}}</h3>
                            <p>{{date startDate}} - {{date endDate}}</p>
                        </div>

                        <div class="timeline-content">
                            <h4><a href="{{url}}" target="_blank" rel="noopener">{{name}}</a></h4>
                            <p>{{#markdown}}{{summary}}{{/markdown}}</p>

                            {{#if highlights}}
                            <span><strong>Main tasks:</strong></span>
                            <ul>
                                {{#each highlights}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </div>

                    </div> <!-- /timeline-block -->
                    {{/each}}

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->
        {{/if}}

        {{#if resume.volunteer}}
        <div class="row resume-timeline">


            <div class="col-twelve resume-header">

                <h2>Volunteer Work</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    {{#each resume.volunteer}}
                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fas fa-handshake"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>{{position}}</h3>
                            <p>{{date startDate}} - {{date endDate}}</p>
                        </div>

                        <div class="timeline-content">
                            <h4>{{organization}}</h4>
                            <p>{{#markdown}}{{summary}}{{/markdown}}</p>
                        </div>

                    </div> <!-- /timeline-block -->
                    {{/each}}

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->
        {{/if}}

        {{#if resume.publications}}
        <div class="row resume-timeline">


            <div class="col-twelve resume-header">

                <h2>Publications</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    {{#each resume.publications}}
                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fas fa-book"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>{{name}}</h3>
                            <p>{{date releaseDate}}</p>
                        </div>

                        <div class="timeline-content">
                            <h4>{{publisher}}</h4>
                            <p>{{#markdown}}{{summary}}{{/markdown}}</p>
                        </div>

                    </div> <!-- /timeline-block -->
                    {{/each}}

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->
        {{/if}}

        {{#if resume.education}}
        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Education</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    {{#each resume.education}}
                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fas fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>{{studyType}} Degree</h3>
                            <p>{{date startDate}} - {{date endDate}}</p>
                        </div>

                        <div class="timeline-content">
                            <h4>{{institution}}</h4>
                            <p>{{area}}</p>
                        </div>

                    </div> <!-- /timeline-block -->
                    {{/each}}

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->
        {{/if}}


    </section> <!-- /features -->

    {{#if resume.interests}}
    <!-- Interests Section
    ================================================== -->
    <section id="cta" class="white-section">

        <div class="row section-intro">
            <div class="col-twelve">
                <h2 class="h01">Interests</h2>

                <blockquote>
                    If you always do what interests you, at least one person is pleased.
                    <cite>Katharine Hepburn</cite>
                </blockquote>

                <p>
                    <strong>Especially interested in:</strong>
                    <br />
                    <span>
                        {{#each resume.interests}}
                        {{name}}{{#unless @last}}, {{/unless}}
                        {{/each}}
                    </span>
                </p>
            </div>

        </div> <!-- /cta-content -->
    </section>
    {{/if}}


    <!-- stats Section
================================================== -->
    <section id="stats" class="count-up">

        <div class="row">
            <div class="col-twelve">

                <div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="fas fa-project-diagram"></i>
                        </div>

                        <h3 class="stat-count">
                            {{resume.meta.additionalSiteData.projectCompleted}}
                        </h3>

                        <h5 class="stat-title">
                            Projects Completed
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="fas fa-user-friends"></i>
                        </div>

                        <h3 class="stat-count">
                            +{{resume.work.length}}
                        </h3>

                        <h5 class="stat-title">
                            Happy Bosses
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="fas fa-award"></i>
                        </div>

                        <h3 class="stat-count">
                            {{#if resume.awards.length}}
                            {{resume.awards.length}}
                            {{else}}
                            no
                            {{/if}}
                        </h3>

                        <h5 class="stat-title">
                            Awards Received
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="fas fa-lightbulb"></i>
                        </div>

                        <h3 class="stat-count">
                            some
                        </h3>

                        <h5 class="stat-title">
                            Crazy Ideas
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="fas fa-coffee"></i>
                        </div>

                        <h3 class="stat-count">
                            a lot
                        </h3>

                        <h5 class="stat-title">
                            Coffee Cups
                        </h5>

                    </div> <!-- /stat -->

                    {{#if resume.meta.additionalSiteData.runningTotalKm}}
                        <div class="bgrid stat">

                            <div class="icon-part">
                                <i class="fas fa-running"></i>
                            </div>

                            <h3 class="stat-count">
                                {{resume.meta.additionalSiteData.runningTotalKm}}
                            </h3>

                            <h5 class="stat-title">
                                ran in {{resume.meta.additionalSiteData.runningYear}}
                            </h5>
                        </div> <!-- /stat -->
                    {{/if}}

                </div> <!-- /stats-list -->

            </div> <!-- /twelve -->
        </div> <!-- /row -->

    </section> <!-- /stats -->


    <!-- contact
================================================== -->
    <section id="contact">

        <div class="row section-intro">
            <div class="col-twelve">
                <h5>Contact</h5>
                <h1>I'd love to hear from you.</h1>
            </div>
        </div> <!-- /section-intro -->

        <div class="row contact-info">

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="fas fa-map-marked-alt"></i>
                </div>

                <h5>Where to find me</h5>

                <p>
                    {{resume.basics.location.postalCode}} {{resume.basics.location.city}}
                    <br />
                    {{resume.basics.location.region}}
                </p>

            </div>

            <div class="col-four tab-full collapse">

                <div class="icon">
                    <i class="fas fa-paper-plane"></i>
                </div>

                <h5>Email Me At</h5>

                <p>{{resume.basics.email}}</p>

            </div>

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>

                <h5>Call Me At</h5>

                <p>Mobile: {{resume.basics.phone}}</p>

            </div>

        </div> <!-- /contact-info -->

    </section> <!-- /contact -->


    <!-- footer
================================================== -->

    <div id="go-top" class="m-fadeOut">
        <a class="smoothscroll" title="Back to Top" href="#top"><i class="fas fa-long-arrow-alt-up"></i></a>
    </div>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Fonts
================================================== -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <!-- Java Script
================================================== -->
    <script type="text/javascript">
        {{{pluginsJs}}}
    </script>
    <script type="text/javascript">
        {{{mainJs}}}
    </script>

</body>

</html>